//base colors
$c-main: #29b6f6;
$c-main-light: #73e8ff;
$c-main-dark: #0086c3;
$c-white: #ffffff;
$c-black: #000000;

$c-second: #e57373;
$c-second-light: #ffa4a2;
$c-second-dark: #af4448;

$c-gray10: #d8d8d8;
$c-gray20: #a1a1a1;
$c-gray30: #929292;
$c-gray40: #696969;
$c-gray50: #4e4e4e;
$c-gray60: #3a3a3a;
$c-gray60-25: #88888841;